@charset "UTF-8";

h2{
	text-align: center;
	color: peru;
}


.calendar-button {
  display: inline-block;
  justify-content: flex-start; 
  padding:8% ;
  background-color: #fdf9f2;
  color:peru;
  text-decoration: none;
  
  font-size: 14px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.calendar-button:hover {
  background-color:burlywood;
}



p{
	text-align: center;
}

:root {
  --arrow-color: #333;
}

.content a {
  padding: 0 2.5em 0.5em 0.5em;
  color: var(--arrow-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
  position: relative;
}

.content a::after {
  content: "→";
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--arrow-color);
  transition: 0.3s;
}

.content a:hover {
  color: #fff;
  background-color:peru ;
}

.content a:hover::after {
  color: #fff;
}


.content-b a {
  padding: 0 1.5em 0.5em 0.5em;
  color: var(--arrow-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
  position: relative;
}

.content-b a::after {
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.content-b a:hover {
  color: #fff;
  background-color:peru ;
}

.content-b a:hover::after {
  color: #fff;
}



button, .button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color:burlywood; /* 緑 */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;     /* aタグの下線を消す */
    text-align: center;
}

.button2{

	    padding: 10px 20px;
	    background-color:burlywood; /* 緑 */
	    color: white;
	    border: none;
	    border-radius: 5px;
	    font-size: 16px;
	    cursor: pointer;
	    text-decoration: none;     /* aタグの下線を消す */
	    text-align: center;
}

.box {
    text-align: center; 
}

.box input[type="text"] {
    width: 30%;
    margin: 8px 0;     /* 上下の余白 */
    padding: 8px;       /* 内側の余白 */
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.img{
width: 10%;
margin-left: 50%;
}

.slide-image {
	width: 8%;
    position: relative;
    animation: slideRight 2s ease forwards; /* 2秒かけて右にスライド */
}

@keyframes slideRight {
    from {
        left: 0;
    }
    to {
        left: 350px;
    }
}

.yokonarabi {
    display: flex;
    align-items: center; /* 上下中央揃えしたい場合 */
    
}
.calendar-table{
	table-layout: fixed;
	margin:0 auto;
	border-width: 8px;
	border:1px solid #eedcb3;
	border-collapse:collapse;
	width: 70%;
	
	
}

.today-mark{
	background-color:wheat;
	display: inline-block;
	width: 100%;
	height: 100%;
}


.tooltipBlock {
    position: relative;
	padding: 0;
}
p#toolTip {
    display: none;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: #545454;
    padding: 4px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8;
    animation: fadeIn 0.6s;
    color: #FFF;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 4px #aaa);
}
p#toolTip:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid #545454;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.tooltipBlock:hover p#toolTip {
    display: block;
}


th{
	border-right:2px solid #eedcb3;
	background-color :#faf3e5;
	vertical-align: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 14px;
}

td{
	
	border-right:2px solid #eedcb3;
vertical-align: top;
font-weight: bold;
background-color: #fdf9f2 ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

td,th{
	padding: 0;
	height: 70px; /* 調整可能 */
	  overflow: hidden;
	  font-size:100%;
	   
	    
}

