@charset "UTF-8";
h2{
	text-align: center;
	color: peru;
}



p{
	text-align: center;
}

.buttonNew{
	display: inline-block;
	padding: 10px 20px;
	   background-color:burlywood; 
	   color: white;
	   border: none;
	   border-radius: 5px;
	   font-size: 16px;
	   cursor: pointer;
	   text-decoration: none;     /* aタグの下線を消す */
	   text-align: right;
}

.detail-table{
	margin:0 auto;
	table-layout: fixed;
		border-width: 8px;
		border-radius: 15px;
		border:1px solid #d1bf97;
		padding: 5px;
		border-collapse:collapse;
		width: 70%;
		
}

.detail-table2{
	margin:0 auto;
	table-layout: fixed;
		border-width: 8px;
		border-radius: 15px;
		border:1px solid #d1bf97;
		padding: 5px;
		border-collapse:collapse;
		width: 40%;
		height: auto;
		
}




button, .button {
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    background-color:burlywood; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;     /* aタグの下線を消す */
    text-align: center;
}

.button2{

	    margin: 10px auto;
	    padding: 5px 10px;
	padding: 10px 20px;
	    background-color:burlywood; /* 緑 */
	    color: white;
	    border: none;
	    border-radius: 5px;
	    font-size: 16px;
	    cursor: pointer;
	    text-decoration: none;     /* aタグの下線を消す */
	    text-align: center;
}


:root {
  --arrow-color: #333;
}

.content a {
  padding: 0 2.5em 0.5em 0.5em;
  color: var(--arrow-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
  position: relative;
}

.content a::after {
  content: "→";
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--arrow-color);
  transition: 0.3s;
}

.content a:hover {
  color: #fff;
  background-color: peru;
}

.content a:hover::after {
  color: #fff;
}


th{
background-color:  #eedcb3;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 14px;
	
}

.text-size input,
.text-size select {
    flex: 1;
    min-width: 0; /* はみ出し防止 */
}

.text-size{
	display:flex;
	width: 100%;

}



td{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 14px;
		text-align: center;
		  
	
}

h4{
	text-align: center;
}