<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
	<script src="js/javaScript.js"></script>
	<h2 th:text="${year}+'年'+${month}+'月の家計簿'"></h2>

	<div style="background-color: burlywood;">
		<h3 style="text-align: center;">[[${@accountModel.name}]]さんの家計記録</h3>
	
		</div>
		
		<a href="/record/add" class="button2">家計新規登録</a>
		<a href="/users/login" class="button2">ログアウト</a>
		<h3>今月の支出:[[${totalPrice}]]円
			&nbsp;&nbsp;&nbsp;今月の収入:[[${totalIncom}]]円
		</h3>
		
			
			
			<div class="yokonarabi">
				<img src="/img/sample.png" class="slide-image">
			<div class="tooltipBlock">
				<p id="toolTip">今日も記録頑張ろう！</p>
				
				<img th:src="@{/img/2728.png}" class="img" id="tooltipImg">

			</div>
			</div>
			
		
	
	
	<div style="display: flex; justify-content: space-between;" class="content-b">
		<a  th:href="@{/calendar(year=${prevYear}, month=${prevMonth})}">← 前の月</a>    
		<a  th:href="@{/calendar(year=${nextYear}, month=${nextMonth})}">次の月 →</a>
			   </div>
			   
			   
	
	<table class="calendar-table" border="6"  >
	<tr>
		<th style="color:rgb(255, 128, 128)" >日</th>
		<th>月</th>
		<th>火</th>
		<th>水</th>
		<th>木</th>
		<th>金</th>
		<th style="color:skyblue">土</th>
	</tr>
		<tr th:each="week:${#numbers.sequence(1,weekOfMonth)}">
			<td class="calendar-cell"
			    th:each="dayOfWeek : ${#numbers.sequence(0,6)}"
			    th:with="cellIndex=${(week - 1) * 7 + dayOfWeek},
			             dateNum=${cellIndex - firstDayOfWeek + 1}">

			  <!-- 空白セル -->
			  <div th:if="${cellIndex < firstDayOfWeek or dateNum > daysInMonth}">&nbsp;</div>

			  <!-- ボタンセル -->
			  <a th:if="${cellIndex >= firstDayOfWeek and dateNum <= daysInMonth}"
			     th:href="@{/dailyList(year=${year}, month=${month}, day=${dateNum})}"
				 th:with="currentDate=${T(java.time.LocalDate).of(year, month, dateNum)}"
				   th:classappend="${currentDate == today} ? ' today-mark':''"
				  class="calendar-button">

			    <span th:text="${dateNum}" style="font-weight: bold;"></span>

			    <span th:each="expense : ${expenses}"
			          th:if="${expense.date.date == dateNum}"
					 
			          th:style="'color:'+
					  (${expense.categoryId}==1 ?'#ff6347':
					  (${expense.categoryId}==2 ? '#0000cd':
					  (${expense.categoryId}==3 ? 'lightgreen':
					  (${expense.categoryId}==4 ? 'brown':
					  (${expense.categoryId}==5 ? 'gold':
					  (${expense.categoryId}==6 ? 'deeppink':gray
					  ))))))" style="display: block;"
					>
					<br>
					￥[[${expense.price}]]
					
					
			    </span>
				<span th:each="incom:${incoms}"
									th:if="${incom.date.date == dateNum}"><br>￥[[${incom.price}]]</span>

			  </a>
			</td>


</tr>
		
</table>
<br>


</body>

</body>
</html>