<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style2.css}">
<title>Insert title here</title>
</head>
<body>
<h2>家計詳細</h2>

<h4 class="record-header"><span>[[${year}]]年[[${month}]]月[[${day}]]日の収支記録</span><a  href="/record/add" class="buttonNew">新規追加</a></h4>



<table class="detail-table" border="1">

		   <tr>
			<th>
				カテゴリ
			</th>
			<th>
			タイトル	
			</th>
			<th>
				詳細
			</th>
			<th>
				価格
			</th>
			<th>
				更新
			</th>
			<th>
				削除
			</th>
		   </tr>
	   
	   <tr th:each="kakeibo : ${kakeiboData}">
	    <td th:text="${kakeibo.categoryName}">	
	   </td>
	   <td th:text="${kakeibo.title}">
	   </td>
	   <td th:text="${kakeibo.detail}">
	   </td>
	   <td th:text="${kakeibo.price}">
	   </td>
	   <td>
		

		<form th:action="@{/record/edit/{id}(id=${kakeibo.id})}" method="get">
			<button>更新</button>
		</form>
		
	  
	 </td>
	 
	   <td>
		
	<form th:action="@{/record/delete/{id}(id=${kakeibo.id})}" method="get">
		<button>削除</button>
	</form>
	   </td>
	   </tr>
	   
	   </table>
	 
	   <div style="text-align: right;">

	   <a href="/calendar">戻る</a>
	  
	   </div>
</body>
</html>