<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style2.css}">
<title>家計詳細</title>
</head>
<body>
<h2>家計詳細</h2>

<h3 style="text-align: center; background-color: burlywood;" class="record-header"><span>[[${year}]]年[[${month}]]月[[${day}]]日の家計記録</span></h2>



	<h4>支出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  href="/record/add" class="buttonNew">新規登録</a></h4>
<table class="detail-table" border="1">

		   <tr>
			<th>
				カテゴリ
			</th>
			<th>
			タイトル	
			</th>
			<th>
				詳細
			</th>
			<th>
				価格
			</th>
			<th>
				更新
			</th>
			<th>
				削除
			</th>
		   </tr>
	   
	   <tr th:each="kakeibo : ${kakeiboData}">
	    <td th:text="${kakeibo.categoryName}">	
	   </td>
	   <td th:text="${kakeibo.title}">
	   </td>
	   <td th:text="${kakeibo.detail}">
	   </td>
	   <td th:text="${kakeibo.price}+'円'">
	   </td>
	   <td>
		

		<form th:action="@{/record/edit/{id}(id=${kakeibo.id})}" method="get">
			<button>更新</button>
		</form>
		
	  
	 </td>
	 
	   <td>
		
	<form th:action="@{/record/delete/{id}(id=${kakeibo.id})}" method="get">
		<button>削除</button>
	</form>
	   </td>
	   </tr>
	   <tr>
		<th>今日の合計金額</th>
		<td colspan="5" th:text="${totalPrice} + ' 円'">0円</td>
	   </tr>
	   </table>
	   
	   
	   <br><br>
	   <h4>収入</h4>
	   <table class="detail-table" border="1">

	   		   <tr>
	   			
	   			<th>
	   			タイトル	
	   			</th>
	   			<th>
	   				詳細
	   			</th>
	   			<th>
	   				価格
	   			</th>
	   			
	   		   </tr>
	   	   
	   	   <tr th:each="incomData : ${incomList}">
	   	  
	   	  
	   	   <td th:text="${incomData.title}">
	   	   </td>
	   	   <td th:text="${incomData.detail}">
	   	   </td>
	   	   <td th:text="${incomData.price}+'円'">
	   	   </td>
	   	   </tr>
	   </table>
	   	   <br>
	   
	   <div style="text-align: right;">

		<div class="content">
	   <a href="/calendar">戻る</a>
	   </div>
	  
	   </div>
</body>
</html>