<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
	<h2>ログイン画面</h2>
	<p>[[${message}]]</p>
	<form action="/login" method="post">	
		<div class="box">
		<input type="text"name="name" placeholder="ユーザ名"><br>
		<input type="text"name="password" placeholder="パスワード">
		<button>ログイン</button>
		</div>
	</form>
	
	<div style="text-align: right;">
	<a href="/users/new">新規登録画面へ</a>
	</div>
</body>
</html>