<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>新規登録</h3>
<table border="1">
	<tr>
		<th>日付</th>
		<td><input type="date"></td>
	</tr>
	<td>
		
	</td>
	<tr>
		<th>項目</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th>
			タイトル
		</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th>詳細</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th>
			金額
		</th>
		<td><input type="text"></td>
	</tr>
	
</table>

<a href="/calendar" class="button">戻る</a>
<a href="/calendar" class="button">登録</a>
</body>
</html>