<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style2.css}">
<title>Insert title here</title>
</head>
<body>
	<h3 style="text-align: center;">⚠本当に削除しますか？</h3>
	<form th:action="@{/record/delete/{id}(id=${kakei.id})}" method="post">
	<table class="detail-table" border="1">
		<tr>
			<th>日付</th>
			<td><div class="text-size"><input type="date" name="date" th:value="${kakei.date}"></div></td>
		</tr>
		
		<tr>
			<th>項目</th>
			<td>	<div class="text-size">	<select name="categoryId" >
			    <option value="1"th:selected="${kakei.categoryId==1}">食費</option>
			    <option value="2"th:selected="${kakei.categoryId==2}">家賃</option>
			    <option value="3"th:selected="${kakei.categoryId==3}">交通費</option>
				<option value="4"th:selected="${kakei.categoryId==4}">雑費</option>
				<option value="5"th:selected="${kakei.categoryId==5}">交際費</option>
				<option value="6"th:selected="${kakei.categoryId==6}">ガソリン代</option>
			
			</select></div></td>
		</tr>
		<tr>
			<th>
				タイトル
			</th>
			<td><div class="text-size"><input type="text" name="title" th:value="${kakei.title}"></div></td>
		</tr>
		<tr>
			<th>詳細</th>
			<td><div class="text-size"><input type="text" name="detail" th:value="${kakei.detail}"></div></td>
		</tr>
		<tr>
			<th>
				金額
			</th>
			<td><div class="text-size"><input type="text" name="price" th:value="${kakei.price}" ></div></td>
		</tr>
		
	</table>

	
	
	<button>削除</button>
	</form>

</body>
</html>