<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/style2.css}">
<title>家計削除</title>
</head>
<body>
	<p style="text-align: center; color: red;">⚠本当に削除しますか？</p>

	<table class="detail-table" border="1">
		<tr>
			<th>日付</th>
			<td><div class="text-size"><span th:text="${kakei.date}"></span></div></td>
		</tr>
		
		<tr>
			<th>項目</th>
			<td><div class="text-size"><span th:switch="${kakei.categoryId}">
				<span th:case="1">食費</span>
				           <span th:case="2">家賃</span>
				           <span th:case="3">交通費</span>
				           <span th:case="4">雑費</span>
				           <span th:case="5">交際費</span>
				           <span th:case="6">ガソリン代</span>
			</span></div></td>
		</tr>
		<tr>
			<th>
				タイトル
			</th>
			<td><div class="text-size"><span th:text="${kakei.title}"></span></div></td>
		</tr>
		<tr>
			<th>詳細</th>
			<td><div class="text-size"><span th:text="${kakei.detail}"></span></div></td>
		</tr>
		<tr>
			<th>
				金額
			</th>
			<td><div class="text-size"><span th:text="${kakei.price}" ></span></div></td>
		</tr>
		
	</table>

	
	<form th:action="@{/record/delete/{id}(id=${kakei.id})}" method="post">
		<input type="hidden" name="date" th:value="${kakei.date}">
		<button>削除</button>
	</form>

</body>
</html>